:root {
  font-size: 62.5%; /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
main ul.arrivals::-webkit-scrollbar {
  display: none; /* geen scrollbalk bij de arrivals */
} /* hier komt jouw css */
body {
  background-color: rgb(219, 198, 198);
}
body header {
  display: block;
  width: 100vw;
  height: 10rem;
  background-color: burlywood;
}
body header h1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding-top: 2.5rem;
  font-size: 50px;
  text-transform: uppercase;
  text-decoration: underline;
}

main {
  height: 80vh;
  width: 100vw;
  background-color: darkgoldenrod;
}
main h2 {
  display: block;
  text-align: center;
  padding-top: 1rem;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
main nav {
  height: 70vh;
}
main nav li {
  padding-top: 5vh;
  display: block;
  text-align: center;
  width: 100vw;
  height: 10vh;
  margin-top: 2rem;
}
main nav li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  background-color: burlywood;
  padding: 2rem;
  border-radius: 20px;
}
footer {
  display: block;
  width: 100vw;
  height: 8.5vh;
  background-color: burlywood;
}
footer h2 {
  display: block;
  padding-top: 2rem;
  padding-left: 2rem;
  font-size: 20px;
  font-weight: bold;
  color: burlywood;
  -webkit-text-stroke: 1px black;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
}
